body {
  margin: 0;
  text-align: center;
  font-family: 'Baloo Tammudu 2', cursive;
  color: #40514E;
}

h1 {
  font-size: 500%;
  margin: 50px auto 0 auto;
  font-family: 'Poppins', sans-serif;
  color: #66BFBF;
  font-weight: bolder;
}

h2 {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 150%;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #ff6701;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 4%;
  color: #687980;
  margin: 100px auto;
}

/*Class*/
.pro {
  text-decoration: underline;
  text-decoration-color: red;
}

.top-container {
  background-color: #caf7e3;
  padding-top: 50px
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #caf7e3;
  padding: 50px 0 20px;
  position: relative;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.pic {
  width: 200px;
}

.pic2 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pic3 {
  width: 200px;
}

.gif {
  width: 25%;
  float: right;
  margin-left: 30px;
  background-color: #51c4d3;
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.footer-link {
  margin: 10px 20px
}

.copyright {
  color: #194350;
  font-size: 85%;
  padding: 20px 0;
}


/* button*/
.button {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -moz-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -ms-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -o-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -webkit-gradient(to bottom, #11CDD4, #1199E9);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 14px;
   line-height: 14px;
   color: #FFFFFF;
   font-family: 'Roboto Condensed', sans-serif;
   width: 185px;
   font-size: 20px;
   font-weight: 900;
   padding: 12px;
   -webkit-box-shadow: 1px 1px 6px 0 #000000;
   -moz-box-shadow: 1px 1px 6px 0 #000000;
   box-shadow: 1px 1px 6px 0 #000000;
   text-shadow: 1px 1px 6px #000000;
   border: solid #762C2C 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   border: solid #ED3333 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
